<script>
    $(function () {
        $('#calculator').validate({
            rules: {
                Num1: "required",
                Num2: "required",
                ID: "required"
            },
            messages: {
                Num1: { required: "Number 1 is required." },
                Num2: { required: "Number 2 is required." },
                ID: { required: "Operand is required." }
            },
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            }
        });

        $.ajax({
            type: "POST",
                url: '@Url.Content("~/Home/Populate/")',
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#ops').append($("<option></option>")
                            .attr("value", item.pk_Id)
                            .text(item.Name));
                    });
                },
                error: function () {
                    alert('Unable to export Calculate. dont suck.');
                }
            });

        $('#submitbtn').on('click', function () {
            if ($('#calculator').valid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Home/Calculate/")',
                    data: $('#calculator').serialize(),
                    success: function (data) {
                        if (data.valid) {
                            $('#result').val(data.result);
                        }
                        else {
                            alert('Operand was not valid.');
                        }
                    },
                    error: function () {
                        alert('Unable to export Calculate. AJAX call failed');
                    }
                });
            }

        });
    });
</script>

<div class="coreyhallcontainer">
    <form id="calculator">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4">
                <div class="col-12">
                    <label for="Num1">Number 1</label>
                </div>
                <div class="col-12">
                    <input name="Num1" class="form-control text-uppercase" type="number" placeholder="Enter a number" />
                </div>
            </div>


            <div class="col-12 col-xl-4">
                <div class="col-12">
                    <label for="ID">Operand</label>
                </div>
                <div class="col-12">
                    <select name="ID" class="form-control text-uppercase" id="ops">
                        <option class="text-uppercase" value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-xl-4 mb-3">
                <div class="col-12">
                    <label for="Num2">Number 2</label>
                </div>
                <div class="col-12">
                    <input name="Num2" class="form-control text-uppercase" type="number" placeholder="Enter a number" />
                </div>
            </div>

            <div class="col-12 col-xl-4">

            </div>
            <div class="col-12 col-xl-4 mb-4">
                <div class="col-12">
                    <button id="submitbtn" type="button" class="btn btn-success ">Calculate</button>
                </div>
            </div>
            <div class="col-12 col-xl-4">

            </div>

            <div class="col-12 col-xl-4">
                <div class="col-12">
                    <input id="result" class="form-control" readonly type="number" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

        </div>
    </form>
</div>

