<script>
    $(function () {
        $('#calculator').validate({
            rules: {
                Num1: "required",
                Num2: "required",
                ID: "required"
            },
            messages: {
                Num1: { required: "Number 1 is required." },
                Num2: { required: "Number 2 is required." },
                ID: { required: "Operand is required." }
            }
        });

        $.ajax({
            type: "POST",
                url: '@Url.Content("~/Home/Populate/")',
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#ops').append($("<option></option>")
                            .attr("value", item.pk_Id)
                            .text(item.Name)); 
                    });
                },
                error: function () {
                    alert('Unable to export Calculate. dont suck.');
                }
            });

        $('#submitbtn').on('click', function () {
            if ($('#calculator').valid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Home/Calculate/")',
                    data: $('#calculator').serialize(),
                    success: function (data) {
                        if (data.valid) {
                            $('#result').val(data.result);
                        }
                        else {
                            alert('Operand was not valid.');
                        }
                    },
                    error: function () {
                        alert('Unable to export Calculate. AJAX call failed');
                    }
                });
            }
                
        });
    });
</script>


<div class="row">
    <h3>InComculator</h3>
    <form id="calculator">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Number 1</label>
                <input name="Num1" class="form-control" type="number" placeholder="Enter a number" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Number 2</label>
                <input name="Num2" class="form-control" type="number" placeholder="Enter a number" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Operand</label>
                <select name="ID" class="form-control" id="ops">
                    <option value="">Select</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <button id="submitbtn" type="button" class="btn btn-success">Calculate</button>
            </div>       
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <input id="result" class="form-control" readonly type="number" />
            </div>       
        </div>
    </form>
</div>